<!--<div class="wrapper-for-content-outside-of-footer">
   Uncomment this whole section for a sticky footer. The content of the page should be inside of this .wrapper-for-content-outside-of-footer
</div>-->

<footer class="footer-2" role="contentinfo">
  <div id="address-block">
    <p>Main Street Mission of China Grove</p>
    <p>306 S. Main Street, China Grove, NC 28023</p>
    <p>Phone (704) 855-2909</p>
    <div class='non-profit'>
    <p>Main Street Mission of China Grove, Inc. is a 501 (c)(3) Non Profit Corporation registered in the State of North Carolina</p>
    </div>
  </div>

  <div class="footer-logo">
    <%= image_tag("Onecandomore.png") %>
    <!--<img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png" alt="Logo image">-->
  </div>

  <div class="footer-secondary-links">
    <ul>
      <li><a href="javascript:void(0)">Terms and Conditions</a></li>
      <li><a href="javascript:void(0)">Privacy Policy</a></li>
    </ul>

    <ul class="footer-social">

      <li><a href="https://www.facebook.com/mainstmission">
        <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/facebook-logo-circle.png" alt="Facebook">
      </a></li>
      <li><a href="https://twitter.com/MainStMission">
        <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/twitter-logo-circle.png" alt="Twitter">
      </a></li>
      <li><a href="https://vimeo.com/124700316">
        <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/youtube-logo-circle.png" alt="YouTube">
      </a></li>
    </ul>
    <%= image_tag("SHFB.png") %>
    <div class="signup">
    <a href="/mail">Sign Up for Our Newsletter</a>
   </div>
  </div>
</footer>
