<div id="js-parallax-window" class="parallax-window">
  <div class="parallax-static-content">
    <div id="title-msm">
    <h1>Main Street Mission</h1>
    </div>
    <p>A Community of Neighbors Helping Neighbors,</p>
    <p>by Sharing God's Love</p>
  </div>
  <div id="js-parallax-background" class="parallax-background"></div>
</div>


