<div class="flexslider">
   <ul class="slides">
      <% @sliders.each do |slider| %>
         <li>
          <img src="<%= slider['slider.image'].get_view('wide').url %>">
           <div id="flex-title">
          <a> <h3>Christmas yea with Dignity</h3></a>
           </div>
         </li>
      <% end %>
   </ul>
</div>

