<div class="hero">
  <div class="hero-inner">
    <div class="hero-copy" >
      <article class="type-system-geometric">


        <h1>Main Street Mission</h1>
        <p>A Community of Neighbors Helping Neighbors,</p>
        <p>by Sharing God's Love</p>
      </article>
    </div>
  </div>
</div>


