<div id="js-parallax-window" class="parallax-window">
  <div class="parallax-static-content">
    <h1>Main Street Mission</h1>
    <p>A Community of Neighbors Helping Neighbors,</p>
    <p>by Sharing God's Love</p>
  </div>
  <div id="js-parallax-background" class="parallax-background"></div>
</div>


<!--<div id="js-parallax-window" class="parallax-window">-->
<!--<div class="parallex-static-content">-->
        <!--<h1>Main Street Mission</h1>-->
        <!--<p>A Community of Neighbors Helping Neighbors,</p>-->
        <!--<p>by Sharing God's Love</p>-->
  <!--</div>-->
  <!--<div id="js-parallax-background" class="parallax-background"></div>-->
<!--</div>-->


