<!-- <header class="centered&#45;navigation" role="banner"> -->
<!--     <div class="centered&#45;navigation&#45;wrapper"> -->
<!--         <a href="javascript:void(0)" class="mobile&#45;logo"> -->
<!--             <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3_dark.png" alt="Logo image"> -->
<!--         </a> -->
<!--         <a href="javascript:void(0)" id="js&#45;centered&#45;navigation&#45;mobile&#45;menu" class="centered&#45;navigation&#45;mobile&#45;menu">MENU</a> -->
<!--         <nav role="navigation"> -->
<!--             <ul id="js&#45;centered&#45;navigation&#45;menu" class="centered&#45;navigation&#45;menu show"> -->
<!--                 <li class="nav&#45;link"><a href="javascript:void(0)">Products</a></li> -->
<!--                 <li class="nav&#45;link"><a href="javascript:void(0)">About Us</a></li> -->
<!--                 <li class="nav&#45;link"><a href="javascript:void(0)">Contact</a></li> -->
<!--                 <li class="nav&#45;link logo"> -->
<!--                     <a href="javascript:void(0)" class="logo"> -->
<!--                         <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3_dark.png" alt="Logo image"> -->
<!--                     </a> -->
<!--                 </li> -->
<!--                 <li class="nav&#45;link"><a href="javascript:void(0)">Testimonials</a></li> -->
<!--                 <li class="nav&#45;link more"><a href="javascript:void(0)">More</a> -->
<!--                     <ul class="submenu"> -->
<!--                         <li><a href="javascript:void(0)">Submenu Item</a></li> -->
<!--                         <li><a href="javascript:void(0)">Another Item</a></li> -->
<!--                         <li class="more"><a href="javascript:void(0)">Item with submenu</a> -->
<!--                             <ul class="submenu"> -->
<!--                                 <li><a href="javascript:void(0)">Sub&#45;submenu Item</a></li> -->
<!--                                 <li><a href="javascript:void(0)">Another Item</a></li> -->
<!--                             </ul> -->
<!--                         </li> -->
<!--                         <li class="more"><a href="javascript:void(0)">Another submenu</a> -->
<!--                             <ul class="submenu"> -->
<!--                                 <li><a href="javascript:void(0)">Sub&#45;submenu</a></li> -->
<!--                                 <li><a href="javascript:void(0)">An Item</a></li> -->
<!--                             </ul> -->
<!--                         </li> -->
<!--                     </ul> -->
<!--                 </li> -->
<!--                 <li class="nav&#45;link"><a href="javascript:void(0)">Sign up</a></li> -->
<!--             </ul> -->
<!--         </nav> -->
<!--     </div> -->
<!-- </header> -->
<header class="centered-navigation" role="banner">
    <div class="centered-navigation-wrapper">
        <a href="javascript:void(0)" class="mobile-logo">
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3_dark.png" alt="Logo image">
        </a>
        <a href="javascript:void(0)" id="js-centered-navigation-mobile-menu" class="centered-navigation-mobile-menu">MENU</a>
        <nav role="navigation">
            <ul id="js-centered-navigation-menu" class="centered-navigation-menu show">
                <li class="nav-link"><a href="javascript:void(0)">Community</a></li>
                <li class="nav-link"><a href="javascript:void(0)">Helping</a></li>
                <li class="nav-link"><a href="javascript:void(0)">News</a></li>
                <li class="nav-link logo">
                    <a href="javascript:void(0)" class="logo">
                        <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3_dark.png" alt="Logo image">
                    </a>
                </li>
                <li class="nav-link"><a href="javascript:void(0)">About Us</a></li>
                <li class="nav-link"><a href="javascript:void(0)">Donate</a></li>
                <li class="nav-link"><a href="javascript:void(0)">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>
