
.bullets {
  ///////////////////////////////////////////////////////////////////////////////////
  $base-line-height: 1em !default;
  $base-accent-color: #477DCA !default;
  $base-link-color: $base-accent-color !default;
  $dark-gray: #333 !default;
  font-family: "charterregular", serif;
  $base-font-color: $dark-gray !default;
  text-decoration: none;
  padding: 0;

  h2 {
    margin: 0;
    text-decoration: none;
  }

  li {
    list-style: none;
    text-decoration: none;
  }

  a {
    text-decoration: none;
  }

  p {
    color: $base-font-color;
    line-height: $base-line-height;
    text-decoration: none;
  }

  img {
    max-width: 100%;
  }
  //////////////////////////////////////////////////////////////////////////////////

  $icon-bullet-size: 3.5em;

  @include display(flex);
  @include flex-wrap(wrap);
  margin-bottom: $base-line-height;
  margin: 1em 0 1em 4em;
  overflow: auto;

  .bullet {
    @include flex-basis(20em);
    @include flex-grow(1);
    text-decoration: none;
  }

  .link-title {
    font-size: small;
    text-align: left;
    text-decoration: none;
  }


  .bullet-icon {
    background: $base-accent-color;
    border-radius: 50%;
    float: left;
    height: $icon-bullet-size;
    padding: $icon-bullet-size / 4;
    width: $icon-bullet-size;
  }

  .bullet-icon-1 {
    background: $base-accent-color;
  }

  .bullet-icon-2 {
    background: adjust-hue($base-accent-color, -50%);
  }

  .bullet-icon-3 {
    background: adjust-hue($base-accent-color, -140%);
  }

  .bullet-content {
    margin-left: $icon-bullet-size * 1.4;
    margin-bottom: .5em;
    padding: 0;
    a {
      text-decoration: none;
    }
  }

  h1, h2 {
    border-bottom: 1px solid transparentize($base-font-color, 0.8);
    display: inline-block;
    font-family: "charterregular", serif;
    font-size: $icon-bullet-size / 2.5;
    margin-bottom: $icon-bullet-size / 6;
    padding-top: $icon-bullet-size / 7;
    text-decoration: none;
  }
}
