
.footer-2 {
  ///////////////////////////////////////////////////////////////////////////////////
  $base-spacing: 1.5em !default;
  $base-accent-color: #477DCA !default;
  $medium-screen: em(640) !default;
  $large-screen: em(860) !default;
  font-family: "Sanchez", serif;

  ul {
    margin: 0;
    padding: 0;
    line-height: 1.5em;
  }

  li {
    list-style: none;
    float: right;
  }

  a {
    text-decoration: none;
  }
  //////////////////////////////////////////////////////////////////////////////////

  $footer-background: desaturate(darken($base-accent-color, 20%), 30%);
  $footer-color: white;
  $footer-link-color: transparentize($footer-color, 0.6);
  $footer-disclaimer-color: transparentize($footer-color, 0.6);

  background: $footer-background;
  padding: $base-spacing;
  width: 100%;
  display: inline-block;

  .footer-logo {
    margin: 0 auto;
    text-align: center;
    padding-left: 1em;
    @include span-columns(4);

    @include media($large-screen) {
      float: left;
      margin-top: 25 px;
      margin-bottom: 0;
    }
  }

  #address-block {
    color: $footer-color;
    text-align: left;
    line-height: 1em;
    float: left;
    margin: 0;
    @include span-columns(4);
  }


  .signup {
    color: $footer-link-color;
    margin-top: 15px;
    margin-right: 20px;
    float: right;
    text-align: right;
    @include span-columns(10);
  }

  .footer-logo img {
    height: 7.5em;
    text-align: center;
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 0;
  }

  ul {

    font-size: 1.25em;

    @include media($large-screen) {
      float: left;
      line-height: 1.8em;
      margin-left: 1em;
    }
  }

  ul li {
    font-weight: 800;
    padding-right: 1em;

    @include media($large-screen) {
      display: inline;
      text-align: left;
    }
  }

  ul li a {
    color: $footer-link-color;

    &:focus,
    &:hover {
      color: transparentize($footer-color, 0);
    }
  }

  .footer-secondary-links {
    @include span-columns(4);
    margin-right: 10px;
    float: right;
    text-align: right;


    li {
      font-size: 0.8em;
      font-weight: 400;
    }

    ul.footer-social {

      @include media($large-screen) {
        float: right;
        margin-top: 0;
        margin-right: 40px;
      }

      li {
        font-size: 1em;
        float: left;
        line-height: 0;
        padding-right: 0.7em;

        &:last-child {
          padding-right: 0;
        }
      }

      img {
        height: 1.6em;
        opacity: 0.7;
        padding: 1px;

        &:focus,
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}
