$parallax-window-height: 23em;
$parallax-background-height: $parallax-window-height * 1.5;

.parallax-window {
  max-height: $parallax-window-height;
  min-height: 20em;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
  }

.parallax-static-content {
  color: #9A9A8A;
  padding: 8em 0;
  min-height: 160em;
  position: relative;
  text-align: left;
  margin-left: 2em;
  margin-top: -6em;
  z-index: 9;
    h1 {
      text-align: "left";
      font-family: "Sanchez", serif;
      font-size: 2.6em;
      font-weight: 700;
      margin-bottom: 0.5em;
    }

    p {
      font-family: "Sanchez", serif;
      font-weight: 200;
      line-height: 1 em;
      color: #FEF8D7;
      margin: 0;
      font-size: 1.1em;
      max-width: 40%;
     }
   }

.parallax-background {
 background: url("back.png") repeat;
  background-position: top;
  background-size: cover;
  background-color: beige;
  height: $parallax-background-height;
  left: 0;
  position: absolute;
  top: - $parallax-window-height / 3.5;
  width: 100%;
  }



//
//
// $max-width: em(860);
//
// .parallex-window {
//   ///////////////////////////////////////////////////////////////////////////////////
//   $base-border-radius: 3px !default;
//   $base-accent-color: #477DCA !default;
//   $large-screen: em(860) !default;
//
//   //////////////////////////////////////////////////////////////////////////////////
//
//   $hero-background-top: #7F99BE;
//   $hero-background-bottom: #20392B;
//   $hero-color: white;
//   $gradient-angle: 10deg;
//   $hero-image: 'back.png';
//
//   @include background(image_url("back.png"), linear-gradient($gradient-angle, $hero-background-bottom, $hero-background-top), no-repeat $hero-background-top scroll);
//   background-color: #324766;
//   background-position: top;
//   background-repeat: no-repeat;
//   background-size: cover;
//   padding-bottom: 3em;
//   height: 450px;
//   margin: 0 px;
//
//   main {
//     margin: 0 px;
//   }
//   .hero-logo img {
//     height: 4em;
//     margin-bottom: 1em;
//   }
//
//   .hero-inner {
//     @include outer-container;
//     @include clearfix;
//     max-width: 70em;
//
//     $grid-columns: 12 !default; // Total number of columns in the grid
//
//     color: $hero-color;
//     margin: auto;
//     padding-top: 3.5em;
//     text-align: center;
//
//     .hero-copy {
//       text-align: left;
//       margin: 0;
//
//       h1 {
//         font-size: 2.5 em;
//         margin-bottom: 0.5em;
//
//         //@include media($large-screen) {
//         //  font-size: 1.8em;
//         //}
//       }
//
//       p {
//         font-weight: 200;
//         line-height: 1 em;
//         color: #FEF8D7;
//         margin: 0;
//
//         //@include media($large-screen) {
//         //  font-size: 1.1em;
//         //  max-width: 40%;
//         //}
//       }
//     }
//
//     button {
//       @include button(flat, $base-accent-color);
//       padding: 0.5em 1em;
//     }
//
//   }
// }
//
// article.type-system-geometric h1 {
//   font-family: "Sanchez", serif;
//   font-size: 2.5em;
//   font-weight: 700;
//   margin-bottom: 0.5em;
// }
// #home-button {
//   margin-top: 250px;
// }
