$parallax-window-height: 23em;
$parallax-background-height: $parallax-window-height * 1.5;

.parallax-window {
  max-height: $parallax-window-height;
  min-height: 20em;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
  }

.parallax-static-content {
  color: #9A9A8A;
  padding: 8em 0;
  min-height: 160em;
  position: relative;
  text-align: left;
  margin-left: 2em;
  margin-top: -6em;
  z-index: 9;
    h1 {
      text-align: "left";
      font-family: "Sanchez", serif;
      font-size: 2.6em;
      font-weight: 700;
      margin-bottom: 0.5em;
    }

    p {
      font-family: "Sanchez", serif;
      font-weight: 200;
      line-height: 1 em;
      color: #FEF8D7;
      margin: 0;
      font-size: 1.1em;
      max-width: 40%;
     }
   }

.parallax-background {
 background: url("back.png") repeat;
  background-position: top;
  background-size: cover;
  background-color: beige;
  height: $parallax-background-height;
  left: 0;
  position: absolute;
  top: - $parallax-window-height / 3.5;
  width: 100%;
  }

