.scroll-on-page {
  $base-line-height: 1.5em !default;
  $base-spacing: 1.5em !default;
  $action-color: #477DCA !default;
  $base-link-color: $action-color !default;
  $dark-gray: #333 !default;
  $large-screen: em(860) !default;
  $base-font-color: $dark-gray !default;
  font-family: "Sanchez", serif;
  margin: 10px;
  display: inline-block;

  a {
    color: $base-link-color;
    text-decoration: none;
    font-family: "Sanchez", serif;
  }

  aside {
    @include media($large-screen) {
      @include span-columns(3);
    }
  }

  .scroll-on-page-link {
    border-bottom: 1px solid transparentize($base-link-color, 0.8);
    display: block;
    margin-right: $base-spacing;
    outline: none;
    padding: ($base-spacing / 2) 0;

    &:last-child {
      margin-bottom: $base-spacing;
    }
  }

  article {
    h1,h2,h3,h4 {
      font-family: "Sanchez", serif;
      font-size: 1.25em;
      margin: 0 0 0.5em 0;
    }
    iframe  {
      width:  800px;
      height: 450px;
    }

    p {
      font-family: "Sanchez", serif;
      color: $base-font-color;
      line-height: $base-line-height;
    }

    section p:last-of-type {
      margin-bottom: 2em;
    }

    @include media($large-screen) {
      @include span-columns(8);
    }
  }
}

// Based on code by http://codepen.io/xmark/
