@import "grid_items";
$max-width: em(1100);


@font-face {
  font-family: 'charterbold_italic';
  src: url('charter_bold_italic-webfont.eot');
  src: url('charter_bold_italic-webfont.eot?#iefix') format('embedded-opentype'),
  url('charter_bold_italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


@font-face {
  font-family: 'charterbold';
  src: url('charter_bold-webfont.eot');
  src: url('charter_bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('charter_bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


@font-face {
  font-family: 'charterregular';
  src: url('charter_regular-webfont.eot');
  src: url('charter_regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('charter_regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


html, body {
  overflow-x: hidden;
}

.full-width-bar {
  margin: 0 -9999rem;
  /* add back negative margin value */
  padding: 0.25rem 9999rem;
  background: rgba(0, 0, 0, 0.5);
}


body {
  @include outer-container;
  font-family: "charterregular", serif;
  margin: 0px;
  font-size: 1.25em;

  h1 {
    font-family: "charterregular", serif;
    font-size: 2.5em;
    font-weight: 700;
    text-align: center;
  }

  h2 {
    font-family: "charterregular", serif;
    text-align: center;
    font-weight: 700;
    font-size: 2.25em;
    }

  h3 {
    font-family: "charterrregular", serif;
    text-align: center;
    font-weight: 400;
    font-size: 1.5em;
  }

  h4 {
    font-family: "charterregular", serif;
    font-weight: 300;
  }
}

.pledge-body {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

#vid {
  width: 450px;
}

#giving {
  position:relative;
  padding-top: 113px;
  padding-left: 0px;
  float: left;
  margin: 25px 25px 25px 40px;
  background-color:"rgba(255, 255, 153)";
  background-image: url("HelpingHands_Logo.png");
  background-repeat: no-repeat;
  width:395px;
  height: 345px;
  border: 3px solid #A68B4F;
  box-shadow: 5px 4px 4px hsla(0,0%,0%,.3);
  line-height: 1.2em;
  font-size: 30px;
  text-align: center;
  font-weight: 400;
  text-shadow: 2px 2px 2px #4E92A3;
}


#paper {
  font-family: 'Schoolbell', arial, serif;
  font-style: bold;
  min-width: 285px;
  max-width: 80em;
  padding: 0.6em 1.0em 1.0em -1em;
  margin: 1px;
  border-width: 0 0 0 5px;
  -moz-border-image: url('edge.png') 0 0 0 50 round;
  -webkit-border-image: url('edge.png') 0 0 0 50 round;
  border-image: url('edge.png') 0 0 0 50 round;
  background: url('paperlines.gif') #FBFBF9; /* IE, old FF */
  background: url('thumbtack.png') 50% 5px no-repeat, url(/stains1.png) 90% -20px no-repeat, url(/stains2.png) 30% 8% no-repeat, url(/stains3.png) 20% 50% no-repeat, url(/stains4.png) 40% 60% no-repeat, url(/paperlines.gif) #FBFBF9;
  -moz-background-size: auto, auto, auto, auto, auto, auto 1.6em;
  -webkit-background-size: auto, auto, auto, auto, auto, auto 1.6em;
  background-size: auto, auto, auto, auto, auto, auto 1.6em; /* Chrome, Opera 10.5 */
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box; /* Chrome, Opera 10.5 */
  -moz-box-shadow: 6px 5px 3px hsla(0,0%,0%,.2);
  -webkit-box-shadow: 6px 5px 3px hsla(0,0%,0%,.2);
  box-shadow: 6px 5px 3px hsla(0,0%,0%,.2);
  padding-top: 34px;
}

#giving-text {
  margin-left: 335px;
}

#getting-text {
  margin-top: 120px;
  margin-left: 20px;
}

#mail-form {
  margin-left: 360px;
  margin-bottom: 40px;
}


#mail-title {
  margin-top: 40px;
}

#getting {position:relative;
  float:right;
  padding: 10px;
  margin: 10px;
  background-color:"rgba(255, 255, 153)";
  width:275px;
  height:275px;

}

#title-msm {
  h1 {
    text-align: left;
  }
}

#about-page {
  margin-top: 60px;
  margin-left: 20px;
}

main {
  font-family: "charterregular", serif;
  margin: 0px;
}



#about-page {
  h1,h2,h3 {
    text-align: center;
  }
}

iframe {
  margin: 20px;
  margin-bottom: 0;
}

.main-body {
  margin: 80px;
  h1,h2,h3 {
    text-align: center;
  }
}

.donate-body {
  width: 100%;
  margin-left: -38px;
}
.donate-box {
  width: 100%;
  margin-top: -10px;
  padding-left: 25px;
}

fieldset {
  width: 600px;
  margin: 10px auto;
}

#map_intro {
  h1 {
    text-align: center;
  }
  margin-left: 20px;
}


.homepage {
  img {
    float: right;
  }
  h1,h2,h3,h4,p {
    float: right;
  }
}

aside {
  @include span-columns(3);
  float: left;
  margin: 20px;
  .wide-aside {
    @include span-columns(5);
  }
}

.scroll-on-page {
  @include span-columns(12)
}

.main-body-homepage {
  @include span-columns(11);
  border-bottom: inset;
  margin: 40px;
}

.donation {
  margin-left: 80px;
}

.search {
  margin-left: 80px;
}
.main-body-text {
  @include span-columns(8);
  float: right;
  margin-right: 2em;
  h1 {
    text-align: center;
    font-size: 1.5em;
  }
}

.main-body-7 {
@include span-columns(7);
  float: right;
}

.main-illustration {
  @include span-columns(4);
  foat: left;
}


section[data-field="illustration"] {
  width: 50
  0px;
  height: 500px;
  float: left;
  margin: 10px;
}

section[data-field="content"] {
  margin: 60px;
}



article {
  ///////////////////////////////////////////////////////////////////////////////////
  $base-border-radius: 3px !default;
  $base-line-height: 1.5em !default;
  $base-spacing: 1.5em !default;
  $base-accent-color: #477DCA !default;
  $base-link-color: $base-accent-color !default;
  $dark-gray: #333 !default;
  $light-gray: #DDD !default;
  $medium-screen: em(640) !default;
  $base-font-color: $dark-gray !default;

  h1, h2, h3, p {
    margin: 0;
  }

  hr {
    border-bottom: 1px solid $light-gray;
    border-left: none;
    border-right: none;
    border-top: none;
    margin: $base-spacing 0;
  }

  p {
    color: $base-font-color;
    line-height: $base-line-height;
  }


  a {
    color: $base-link-color;
    text-decoration: none;
  }
  //////////////////////////////////////////////////////////////////////////////////

  $serif: 'charterregular', serif;

  @include clearfix;
  text-align: left;

  .type {
    border-bottom: 1px solid;
    display: inline-block;
    font-family: $serif;
    font-size: 0.7em;
    font-weight: 800;
    margin-bottom: 2em;
    padding: 0.3em 0;
    text-align: left;
    text-transform: uppercase;
  }

 #contact_intro {
    text-align: center;
  }

  h1 {
    font-family: $serif;
    font-size: 2.5em;
    font-weight: 700;
    margin-bottom: 0.5em;

    //@include media($medium-screen) {
    //  font-size: 2.6em;
    //}
  }

  h2 {
    font-family: $serif;
    font-size: 1.2em;
    font-style: italic;
    font-weight: 400;
    line-height: 1.4em;
    margin-bottom: 1.1em;

    //@include media($medium-screen) {
    //  font-size: 1.3em;
    //}
  }

  code {
    background: #F7F7F7;
    border-radius: $base-border-radius * 1.5;
    border: 1px solid #E0E0E0;
    font-size: 0.7em;
    font-style: normal;
    padding: 0.1em 0.4em;
    white-space: nowrap;
  }

  h3 {
    font-family: $serif;
    font-size: 1.4em;
    font-weight: 400;
    line-height: 1.3em;
    margin-bottom: 0.4em;
  }

  p.date {
    color: transparentize($base-font-color, 0.6);
    font-family: $serif;
    font-size: 0.9em;
    font-style: italic;
    margin-bottom: 0.3em;
  }

  p {
    font-family: $serif;
    font-size: 1.05em;
    line-height: 1.5em;
    margin-bottom: 1.5em;
  }

  a.read-more {
    display: inline-block;
    font-family: $serif;
    font-size: 0.8em;
    font-weight: 700;
    margin-left: 0.2em;
    position: relative;
    text-transform: uppercase;

    span {
      font-family: $serif;
      font-size: 1.5em;
      font-style: normal;
      position: absolute;
      right: -12px;
      top: -1px;
    }
  }

  hr {
    width: 3em;
  }

  p.author {
    font-family: $serif;
  }
}


