<article class="type-system-geometric">
<script src="//cdnjs.cloudflare.com/ajax/libs/polymer/0.0.20130816/polymer.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js"></script>

<div id='contact_intro' class="main-body">
<h1>Contact Us</h1>
<h2>We would love to hear from you</h2>
<h3>Give us a call at (704) 855-2909</h3>
<h3>Please complete the form below and click the Submit button at the bottom.</h3>
<h3>We&#8217;ll reply as soon as possible.</h3>
</div>

<div id="contact-form" class="form-inputs">
  <fieldset>
    <form accept-charset="UTF-8" class="form-input" action="https://formkeep.com/f/4ae1770fecf4" method="POST">
      <input type="hidden" name="utf8" value="✓">
      <input type="email" name="email" placeholder="Your Email">
      <input type="text" name="name" placeholder="Your Name">
      <textarea name="comment" rows="6" placeholder="Enter comments here ..."></textarea>
      <button type="submit">Submit</button>
    </form>
  </fieldset>
</div>
