<article class="type-system-geometric donation">
  <div class="donate-body">
    <%# <%= @document.as_html_safe(link_resolver()) %1> %>
    <%= image_tag("brochure.png") %>
  </div>
  <div class="donate-box">
<script src="https://donorbox.org/widget.js" type="text/javascript"></script><iframe src="https://donorbox.org/embed/main-street-mission-building-fund?hide_donation_meter=true" height="685px" width="100%" style="max-width:500px; min-width:310px" seamless="seamless" id="dbox-form-embed" name="donorbox" frameborder="0" scrolling="no"></iframe>
  </div>
</article>
