<article class="type-system-geometric">
  <div class="main-body">
    <%= @document.as_html_safe(link_resolver()) %>

  </div>
  <iframe src="https://donorbox.org/embed/one-can-do-more-2?show_content=true&recurring=true" height="685px" width="100%" style="max-width:100%; min-width:780px" seamless="seamless" name="donorbox" frameborder="0" scrolling="no"></iframe>
</article>
