<article class="type-system-geometric donation">
  <div class="main-body">
    <%= @document.as_html_safe(link_resolver()) %>

  </div>
  <script src="https://donorbox.org/widget.js" type="text/javascript"></script><iframe src="https://donorbox.org/embed/main-street-mission-building-fund?show_content=true&recurring=true" height="685px" width="100%" style="max-width:100%; min-width:780px" seamless="seamless" id="dbox-form-embed" name="donorbox" frameborder="0" scrolling="no"></iframe>


  <%# <iframe src="https://donorbox.org/embed/one-can-do-more?show_content=true&recurring=true" height="685px" width="100%" style="max-width:100%; min-width:780px" seamless="seamless" name="donorbox" frameborder="0" scrolling="no"></iframe> %>
</article>
