<article>
  <aside class="wide-aside">
    <div id="giving">Neighbors<br>helping<br>Neighbors</div>
  </aside>
  <div class="main-body-7 grid-item-lines">
    <%= @document.as_html_safe(link_resolver()) %>
  </div>
<hr />
</article>

