<article class="type-system-geometric">
  <div class="main-body grid-items-lines">
    <h1> News about the Mission</h1>
    <% @articles.each do |article| %>
        <% if cell(:article, article) %>
              <%= cell(:article, article).call %>
        <% end %>
    <% end %>
  </div>
</article>
