<article>
  <div class="main-body grid-items-lines">
    <h3> News about the Mission</h3>
    <% @news.each do |article| %>
        <% if cell(:news, article) %>
              <%= cell(:news, article).call %>
        <% end %>
    <% end %>
  </div>
</article>
