<article class="type-system-geometric">
  <div class="main-body">
    <% @articles.each do |article| %>
        <% if cell(:article, article) %>
            <section>
              <%= cell(:article, article).call %>
            </section>
        <% end %>
    <% end %>
  </div>
</article>
