
<article class="type-system-geometric donation">
  <div class="pledge-body">
    <%# <%= @document.as_html_safe(link_resolver()) %1> %>



<iframe height="1220" allowTransparency="true" frameborder="0" scrolling="no" style="width:100%;border:none"  src="https://brookelaw.wufoo.com/embed/myjypdm1uehy7q/"><a href="https://brookelaw.wufoo.com/forms/myjypdm1uehy7q/">Fill out my Wufoo form!</a></iframe><div id="wuf-adv" style="font-family:inherit;font-size: small;color:#a7a7a7;text-align:center;display:block;"><span class="notranslate">The easy to use <a href="http://www.wufoo.com/form-builder/">Wufoo form builder</a> helps you make forms easy, fast, and fun.</span></div>


  </div>

</article>
